.input-checkbox {
    display: none;
}

/* Estilo do checkbox personalizado */
.checkbox-customizado {
    width: 20px;
    height: 20px;
    background-color: white; /* Cor de fundo padrão */
    border: 1px black; /* Borda */
    cursor: pointer; /* Cursor ao passar por cima */
    border-radius: 4px; /* Cantos arredondados */
}

/* Estilo do checkbox personalizado quando marcado */
.checked {
    background-color: #9353FF; /* Cor de fundo quando marcado */
    position: relative; /* Posição relativa para o ícone de check */
}

/* Estilo do ícone de check */
.checkbox-customizado.checked::after {
    content: ""; /* Adiciona um conteúdo vazio */
    position: absolute; /* Posicionamento absoluto em relação ao checkbox */
    left: 30%; /* Ajuste de posição horizontal */
    width: 5px; /* Largura do ícone */
    height: 14px; /* Altura do ícone */
    /* Estilo da linha do ícone */
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(-140deg); /* Rotação para formar o ícone de check */
}